<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>389307781155-kv05r02gr7oa87f2e04opvmtvlcv6ptm.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.389307781155-kv05r02gr7oa87f2e04opvmtvlcv6ptm</string>
	<key>API_KEY</key>
	<string>AIzaSyD7LOAblqfiG6MUODSvorGIxBE2kOQYaz0</string>
	<key>GCM_SENDER_ID</key>
	<string>389307781155</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.mad2.NPFoodStallReview</string>
	<key>PROJECT_ID</key>
	<string>npfoodstallreview</string>
	<key>STORAGE_BUCKET</key>
	<string>npfoodstallreview.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:389307781155:ios:2dc4e00913e516a1e5a196</string>
	<key>DATABASE_URL</key>
	<string>https://npfoodstallreview.firebaseio.com</string>
</dict>
</plist>